### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
# Imported HTML for formatting
import pandas as pd
import numpy as np
from IPython.display import HTML

# File to Load NOTE: File is located in Project folder on desktop, remember to change when/if moved to Github
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [21]:
#Total number of players
Total_players = len(purchase_data['SN'].unique())
Total_players_df = pd.DataFrame({"Total Players": [Total_players]})



# Format the data to have a clean display. Note: help with code for formatting
HTML(Total_players_df.to_html(classes=['table-bordered', 'table-striped', 'table-hover']))

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Lets calculate: number of unique items, average price, number of purchases and total revenue

unique_items = len(purchase_data['Item ID'].unique())
Number_of_Purchases = purchase_data['Purchase ID'].count()
average_price = (purchase_data['Price'].sum()) / Number_of_Purchases
Total_revenue = purchase_data['Price'].sum()



# Lets make a dataframe to store summary information

summary_df = pd.DataFrame({'Number of Unique Items': [unique_items], 'Average Price': [average_price],\
                          'Number of Purchases': [Number_of_Purchases], 'Total Revenue': [Total_revenue]})



# Format the data to have a clean display

summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${0:,.2f}".format)
summary_df['Average Price'] = summary_df['Average Price'].map("${0:,.2f}".format)
HTML(summary_df.to_html(classes=['table-bordered', 'table-striped', 'table-hover']))

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# There are duplicates, lets remove duplicate SN in order to find unique count per gender

sn_dup_drop = purchase_data.drop_duplicates(['SN'])
total_count = sn_dup_drop['Gender'].count()




# Calculate number of players by gender

count_male = sn_dup_drop['Gender'].loc[sn_dup_drop['Gender'] == 'Male'].count()
count_female = sn_dup_drop['Gender'].loc[sn_dup_drop['Gender'] == 'Female'].count()
count_other = sn_dup_drop['Gender'].loc[sn_dup_drop['Gender'] == 'Other / Non-Disclosed'].count()




# Calculate the percentage of players by gender. use formula count/total * 100

percent_male_players = (count_male / total_count) * 100
percent_female_players = (count_female / total_count) * 100
percent_other_players = (count_other / total_count) * 100



# Create a dataframe to store summary information

gender_demographics = {'Total Count': [count_male, count_female, count_other],\
                       'Percentage of Players': [percent_male_players, percent_female_players, percent_other_players]}




# Set the gender as index

gender_demo_df = pd.DataFrame(data=gender_demographics, index = ['Male', 'Female', 'Other / Non-Disclosed'],\
                              columns = ['Total Count', 'Percentage of Players'])





# Format the data to have a clean display

gender_demo_df['Percentage of Players'] = gender_demo_df['Percentage of Players'].map("{0:,.2f}%".format)

HTML(gender_demo_df.to_html(classes=['table-bordered', 'table-striped', 'table-hover']))


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
item = purchase_data.set_index('Item ID')
item['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Reset the index in the dataframe to Item ID
item_df = purchase_data.set_index('Item ID')

# Calculation of purchase count per gender
item_male = item_df['Gender'].loc[item_df['Gender'] == 'Male'].count()
item_female = item_df['Gender'].loc[item_df['Gender'] == 'Female'].count()
item_other = item_df['Gender'].loc[item_df['Gender'] == 'Other / Non-Disclosed'].count()

# Calculation of the average purchase price per gender
avg_price_male = (item_df['Price'].loc[item_df['Gender'] == 'Male'].sum())/item_male
avg_price_female = (item_df['Price'].loc[item_df['Gender'] == 'Female'].sum())/item_female
avg_price_other = (item_df['Price'].loc[item_df['Gender'] == 'Other / Non-Disclosed'].sum())/item_other

# Calculation of the total purchase value per gender
tot_purch_male = item_df['Price'].loc[item_df['Gender'] == 'Male'].sum()
tot_purch_female = item_df['Price'].loc[item_df['Gender'] == 'Female'].sum()
tot_purch_other = item_df['Price'].loc[item_df['Gender'] == 'Other / Non-Disclosed'].sum()

# Calculation of the average total purchase per person (exclude duplicate SN)
avg_total_male = tot_purch_male / count_male
avg_total_female = tot_purch_female / count_female
avg_total_other = tot_purch_other / count_other

# Create a dataframe to store the calculation
purchase_analysis = {'Purchase Count': [item_male, item_female, item_other],\
                    'Average Purchase Price': [avg_price_male, avg_price_female, avg_price_other],\
                    'Total Purchase Value': [tot_purch_male, tot_purch_female, tot_purch_other],\
                    'Avg Total Purchase per Person': [avg_total_male, avg_total_female, avg_total_other]}

purchase_analysis_df = pd.DataFrame(data=purchase_analysis, index = ['Male', 'Female', 'Other / Non-Disclosed'],\
                              columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person'])

# Format the data to have a clean display
purchase_analysis_df['Average Purchase Price'] = purchase_analysis_df['Average Purchase Price'].map("${0:,.2f}".format)
purchase_analysis_df['Total Purchase Value'] = purchase_analysis_df['Total Purchase Value'].map("${0:,.2f}".format)
purchase_analysis_df['Avg Total Purchase per Person'] = purchase_analysis_df['Avg Total Purchase per Person'].map("${0:,.2f}".format)

HTML(purchase_analysis_df.to_html(classes=['table-bordered', 'table-striped', 'table-hover']))

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Create a new bin for purchase data data frame by age.  Make bins relate to catergory by age
bins_p = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_name_player = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']




# Reset the index from Category of players by age to the default
purchase_reset = purchase_data.reset_index(drop=True)





# Slice the data and place it into bins
purchase_reset['Category of players by age'] = pd.cut(purchase_reset['Age'], bins_p, labels=group_name_player )





# Group the data by Category of players by age and run calculation
bin_group_cat = purchase_reset.groupby('Category of players by age')
count_cat = bin_group_cat['Purchase ID'].count()
avg_cat = bin_group_cat['Price'].mean()
total_cat = bin_group_cat['Price'].sum()




# Delete duplicate 'SN' in order to calculate the average total purchase per person
dup_drop_cat = purchase_reset.drop_duplicates(['SN'])
u=dup_drop_cat['SN'].count()
avg_cat_pers = bin_group_cat['Price'].sum() / dup_drop_cat.groupby('Category of players by age')['SN'].count()





# Create a new data frame to store summary purchase analysis

purchase_analysis_df = pd.DataFrame(count_cat)





# Renaming Purchase ID columns to Purchase count
purchase_analysis_df = purchase_analysis_df.rename(columns={'Purchase ID': 'Purchase Count'})

purchase_analysis_df['Average Purchase Price'] = avg_cat
purchase_analysis_df['Total Purchase Value'] = total_cat
purchase_analysis_df['Avg Total Purchase per Person'] = avg_cat_pers




# Format the data to have a clean display
purchase_analysis_df['Average Purchase Price'] = purchase_analysis_df['Average Purchase Price'].map("${0:,.2f}".format)
purchase_analysis_df['Total Purchase Value'] = purchase_analysis_df['Total Purchase Value'].map("${0:,.2f}".format)
purchase_analysis_df['Avg Total Purchase per Person'] = purchase_analysis_df['Avg Total Purchase per Person'].\
map("${0:,.2f}".format)

HTML(purchase_analysis_df.to_html(classes=['table-bordered', 'table-striped', 'table-hover']))

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Group dataframe by SN in order to calculate the total purchase count
top_purch_df = purchase_reset.groupby('SN')
count_top = top_purch_df['Item ID'].count()
avg_top = top_purch_df['Price'].mean()
total_top = top_purch_df['Price'].sum()

top_spender_df = pd.DataFrame(count_top)





# Renaming Purchase ID columns to Purchase count
top_spender_df = top_spender_df.rename(columns={'Item ID': 'Purchase Count'})

top_spender_df['Average Purchase Price'] = avg_top
top_spender_df['Total Purchase Value'] = total_top




# Sort the data to find the top spenders

sort_top_spender= top_spender_df.sort_values(['Total Purchase Value'], ascending=False)




# Format the data to have a clean display
sort_top_spender['Average Purchase Price'] = sort_top_spender['Average Purchase Price'].map("${0:,.2f}".format)
sort_top_spender['Total Purchase Value'] = sort_top_spender['Total Purchase Value'].map("${0:,.2f}".format)


HTML(sort_top_spender.head().to_html(classes=['table-bordered', 'table-striped', 'table-hover']))

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# Retrieve the Item ID, Item Name, and Item Price Columns
pop_purch_pop = purchase_reset[['Item ID', 'Item Name', 'Price']]

# Group by Item ID and Item Name
pop_purch_df = pop_purch_pop.groupby(['Item ID', 'Item Name'])

# Perform calculations to obtain purchase count, item price, and total purchase value
count_pop = pop_purch_df['Item ID'].count()
total_pop = pop_purch_df['Price'].sum()
price_pop = total_pop / count_pop

pop_df = pd.DataFrame(count_pop)

# Renaming Purchase ID columns to Purchase count
pop_df = pop_df.rename(columns={'Item ID': 'Purchase Count'})
pop_df['Item Price'] = price_pop
pop_df['Total Purchase Value'] = total_pop


# Sort the data to find the most popular items

sort_pop = pop_df.sort_values(['Purchase Count'], ascending=False)

# Format the data to have a clean display
sort_pop['Item Price'] = sort_pop['Item Price'].map("${0:,.2f}".format)
sort_pop['Total Purchase Value'] = sort_pop['Total Purchase Value'].map("${0:,.2f}".format)

HTML(sort_pop.head().to_html(classes=['table-bordered', 'table-striped', 'table-hover']))

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
sort_pop = pop_df.sort_values(['Total Purchase Value'], ascending=False)


sort_pop['Item Price'] = sort_pop['Item Price'].map("${0:,.2f}".format)
sort_pop['Total Purchase Value'] = sort_pop['Total Purchase Value'].map("${0:,.2f}".format)


# Format the data to have a clean display
HTML(sort_pop.head().to_html(classes=['table-bordered', 'table-striped', 'table-hover']))

In [ ]:
#Answer homework questions here? IN HERE